.hr {
  background-color: #000;
  width: 90%;
}

.ul {
  font-size: 0.75rem;
  list-style-type: disc;
  padding-left: 1rem;
}

.tickets_wrapper {
  background-color: #f2f2f2;
  color: #000;
  border-radius: 0.5%;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 2rem; */
  margin-top: 2rem;
  min-height: 400px;
  /* max-height: 600px; */
  position: relative;
}

.ticket_wrapper_upper {
  /* overflow-y: scroll; */
  /* height: 70%; */
  /* Hides scroll bar for: Internet Explorer, Edge, Firefox  */
  /* min-height: 260px; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 100%;
  padding-bottom: 120px;
}

.ticket_wrapper_bottom {
  height: 130px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Button */
.button_wrapper {
  display: flex;
  justify-content: center;
}

/* Ticket wrapper upper */
.title {
  font-weight: 600;
  font-size: 28px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

/* Ticket wrapper bottom */

.price {
  text-align: center;
}

/* Ticket */
.ticket_container {
  font-size: 14px !important;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 90%;
}

/* Icon */

.icon {
  padding-top: 1rem;
}

.icon:hover {
  cursor: pointer;
}

.icon_wrapper {
  display: flex;
  justify-content: flex-end;
}

/* Media Queries */

/**
*** Mobile Screen
**/
@media (min-width: 991px) {
  .tickets_wrapper {
    margin-top: 0;
    height: 100%;
  }
}
