.aboutContainer {
  display: flex;
  flex-direction: column;
  background-image: url(https://media.istockphoto.com/photos/red-velvet-theater-curtain-picture-id915090126?k=6&m=915090126&s=170667a&w=0&h=rd1GLJhQotmUvs7qt2E0qaha2CrEkZBWAvuvFrxH0Mo=); 
  background-size: cover;
  height: 50vh;
  justify-self: center;
  align-items: center;
}

.upper_wrapper {
 
  margin: 2rem;
  
}

.low{
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
.karta {
  width: 30%;
}
.h4{
  margin-bottom: 2rem;
  margin-left: 2rem;
}


@media screen and (max-width: 768px) {

    .upper_wrapper {
      display: block;
    }
    .low{
      flex-direction: column;
    }
    .karta {
      width: 100%;
    }

}