.aboutContainer {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.upper_wrapper {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.filmrulle_wrapper {
  width: 30%;
}

.about_text_wrapper {
  padding-left: 1rem;
  width: 70%;
}

/* Image */

.filmrulle_image {
  max-width: 100%;
}

.map {
  width: 100%;
}
