.aboutContainer {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.upper_wrapper {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.filmrulle_wrapper {
  width: 30%;
  display: inline-flex;
}

.about_text_wrapper {
  padding-left: 1rem;
  width: 70%;
}

.lower_wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.days_wrapper {
  width: 50%;
  display: inline-flex;
  justify-content: space-around;
}

.phonenumber_wrapper {
  width: 50%;
  display: inline-flex;
}


/* Image */

.filmrulle_image {
  max-width: 100%;
}

.map {
  width: 100%;
}
@media screen and (max-width: 768px) {

    .upper_wrapper {
      display: block;
    }

    .filmrulle_wrapper {
      width: 100%;
    }
    
    .about_text_wrapper {
      width: 100%;
    }
}