.modal_container {
  background-color: #e1e1e1;
}

.header {
  text-align: center;
  padding-top: 1rem;
}

.hr {
  background-color: #000;
}

.ul {
  font-size: 0.75rem;
  list-style-type: disc;
  padding-left: 1rem;
}

.sub_information {
  font-size: 0.75rem;
  font-weight: normal;
}

/* Button */
.button_confirm {
  background-color: #e87209;
  color: #f3f3f3;
  margin: 20px;
}

.button_confirm_wrapper {
  display: flex;
  justify-content: center;
}

/**
 ** Reservation
 */

.reservation {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 80%;
}

/* Reservation header */

.reservation_header_wrapper {
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

.reservation_header_information {
  font-size: 0.875rem;
  font-weight: 600;
}

/* Auditoria */
.auditoria_wrapper {
}

.auditoria_information {
  font-size: 0.75rem;
  font-weight: 600;
}

.auditoria_seats_information {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

/* Summary  */
.order_information {
  font-size: 0.75rem;
  font-weight: bold;
}

.summary_wrapper {
  padding-bottom: 1rem;
}

.summary_information {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0;
}
