.wrapper{
  margin: 0;
}
.bookButton,
.infoButton,
.loginButton,
.cancelButton,
.signInButton,
.okButton,
.bookTicketButton,
.trailerButton
{
  padding: 5px 35px ;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  font-family: "Open Sans";
  background-color: #E87209;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookButton {
  max-width: 100%;
  font-size: inherit;
}
div.scheduleButtonWrapper div.bookButtonContainer div.bookButton {
  padding: 4px 8px;
}

.infoButton, .okButton, .trailerButton{
  background-color: #151515;
}

.cancelButton{
padding: 5px 14px;
font-size: 0.6rem;
}

.loginButton{
  padding: 5px 14px;
}

.signInButton{
  padding: 11px 42px;
}

.okButton{
padding: 6px 20px;
text-transform: uppercase;
font-size: 16px;
}

.bookTicketButton{
  padding: 4px 30px;
}

.trailerButton{
  padding: 5px 24px;
  margin-top: 18px;
  margin-bottom: 14px;
}

.bookButton:hover,
.cancelButton:hover,
.loginButton:hover,
.signInButton:hover,
.bookTicketButton:hover{
  background-color: #fb5801  !important;
}

.infoButton:hover, .okButton:hover, .trailerButton:hover{
  background-color:#525050 !important;
}

@media screen and (min-width: 576px) {
  /* .bookButton {
    padding: 5px 35px;
  } */
}
