.homeWrapper{
  width: 90%;
  margin: auto;
  border: 1px solid red;
}
.scheduleWrapper{
  background-color: #E5E5E5;
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 0.9rem 1.8rem;
}
.scheduleWrapper > h2{
  color: black;
  font-size: 1.25rem;
  margin-bottom: 1.8rem;
}

@media only screen and (min-width: 958px) {
  .scheduleWrapper{
    max-width: 930px;
    margin: 1rem auto;
  }

  .scheduleWrapper > h2{
    font-size: 1.8rem;
  }
  
}