.modalContainer {
  background-color: #E5E5E5;
  padding: 30px 40px;
  width: 400px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}
.loginHeading {
  margin-bottom: 20px;
  color: #333333;
}
.loginBtn {
  background-color: #E87209;
  color: #F3F3F3;
  margin: 20px;
}

.loginBtn:hover {
  background-color: #b55e0c;
  color: #F3F3F3;
  margin: 20px;
}

.input {
  margin-bottom: 20px;

}
.regText{
  margin-top: 10px;
  text-align: center;
}