.movieContainer{
  background-color: #E1E1E1;
  margin: 1rem;
  padding: 0.9rem 1.8rem;
}
.description{
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: start;
}

.description > h1{
  font-size: 1.25rem;
  font-weight: bold;
}