.wrapper{
  max-width: 880px;
  border-top: 0.5px solid #F3F3F3;
  border-bottom: 0.5px solid #F3F3F3;
}
h2.heading {
  text-shadow: 1px 1px 10px #000;
  text-align: center;
  font-size: 1.7rem;
}
.showAllBtnContainer {
  text-align: right;
  margin: 1rem;
}
.showAllBtn {
  text-align: center;
  border:none;
  background-color: rgba(51, 51, 51, 0.774);
  color: #F3F3F3;
  border: 1px solid #F3F3F3;
  border-radius: 2px;
  padding: 0.3rem 0.8rem;
}
@media screen and (min-width: 576px) {
  h2.heading {
    font-size: 2rem;
  }
}