.hr {
  background-color: #ffffff;
}

.profile_wrapper {
  margin: auto;
  width: 80%;
}

/* Header */

.header_wrapper {
}

.title {
  font-size: 1.75rem;
}

/** 
*** Mobile Screen
**/
@media (max-width: 768px) {
  .profile_wrapper {
    width: 100%;
  }
}

/**
*** Large screen
**/
@media (min-width: 769px) {
}
