.listing_wrapper {
  background-color: #e1e1e1;
  color: #000;
  border-radius: 0.5%;
  overflow-y: scroll;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 80%;
  /* Hides scroll bar for: Internet Explorer, Edge, Firefox  */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Media Queries */

/** 
*** Mobile Screen
**/
@media (max-width: 768px) {
  .listing_wrapper {
    margin-top: 2rem;
    width: 100%;
  }
}

/**
*** Large screen
**/
@media (min-width: 769px) {
}
