.filterWrapper {
  box-shadow: 1px 3px 10px 1px #e872097c;
  margin: 1rem auto;
  padding: 1rem;
}
.filterWrapperClosed {
  box-shadow: 1px 3px 10px 1px #1515157c;
  margin: 1rem auto;
  padding: 1rem;
}
hr.lineBtwn {
  border: none;
  border-bottom: 1px solid #e1e1e142;
  margin: 0.7rem 0;
  /* width: 90%; */
}
.filterItem {
  border-bottom: 1px solid #e1e1e142;
}
span.filterHeading {
  font-size: 1.4rem;
}
p.typeHeading {
  padding: 0.3rem 0 0.6rem 0;
  margin-right: 1rem;
}
.filterItem select {
  min-width: 60%;
}
input.textSearch {
  margin: 1rem 0;
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 100%;
}
.radioButtonsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.radioInputLabel {
  margin-right: 1rem;
}

@media screen and (min-width:768px) {
  .accHeader {
    border: none;
  }
}
@media screen and (min-width:1200px) {
  .filterWrapper {
    margin-left: 1.25rem;
  }
}