.innerAcc.accordion > .card > .card-header {
  background-color: #333;
}

.accHeader {
  background-color: #333;
  padding: 0.5rem 0;
  width: 100%;
  min-width: 220px;
}

hr.lineBtwn {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  margin: 0.45rem 0;
  width: 108%;
}
p.filterHeading {
  height: 53px;
  padding-top: 15px;
}